@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

$dark-blue-color: #1E3B44;
$bright-blue-color: #6DD3FF;
$accent-color: #E88D67;
$grey-color: #CCE2E5;
$off-white-color: #F7FFFE;

.clickable {
    cursor: pointer;
}