@import './shared.scss';

.skill-slide {
    background-color: white;
    min-height: 100vh;

    .stripe {
        background-color: $grey-color;
        z-index: 2;

        .title {
            color: $dark-blue-color;
        }
    }
}

.skills-container {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    margin: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 15;

    .skill-card {
        background-color: transparent;
        color: $dark-blue-color;
        border-radius: 40px;
        border: 2px $grey-color solid;
        padding: 20px;
        font-family: 'Oxygen', serif;
        font-size: 30px;
        transition: 0.3s;

        &.hover-blue {
            transition: 0.3s;
            color: white;
            border-color: $bright-blue-color;
            background-color: $bright-blue-color;
        }

        &.hover-orange {
            transition: 0.3s;
            color: white;
            border-color: $accent-color;
            background-color: $accent-color;
        }

        &.hover-pink {
            transition: 0.3s;
            color: white;
            border-color: #F2C0AC;
            background-color: #F2C0AC;
        }
    }
}

.skills-arrow {
    z-index: 10;
}

.svg-front {
    position: absolute;
    top: 61%;
    z-index: 5;
}

.svg-middle {
    position: absolute;
    top: 58%;
    z-index: 4;
}

.svg-back {
    position: absolute;
    top: 61%;
    z-index: 3;
}