@import './shared.scss';

.skill-slide {
    background-color: white;
    min-height: 100vh;

    .stripe {
        background-color: $grey-color;
        z-index: 2;

        .title {
            color: $dark-blue-color;
        }
    }
}

.skills-container {
    position: relative;
    margin: 10% 15%;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 15;

    .skill-card {
        background-color: transparent;
        color: $dark-blue-color;
        border-radius: 40px;
        border: 2px $grey-color solid;
        padding: 20px;
        font-family: 'Oxygen', serif;
        font-size: 30px;
        transition: 0.3s;

        &.hover-blue {
            transition: 0.3s;
            color: white;
            border-color: $bright-blue-color;
            background-color: $bright-blue-color;
        }

        &.hover-orange {
            transition: 0.3s;
            color: white;
            border-color: $accent-color;
            background-color: $accent-color;
        }

        &.hover-pink {
            transition: 0.3s;
            color: white;
            border-color: #f2c0ac;
            background-color: #f2c0ac;
        }
    }
}

.svg-front {
    z-index: 5;
    position: absolute;
    bottom: -1%;
    left: 0;
}

.svg-middle {
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
}
.svg-back {
    z-index: 3;
}
