@import './shared.scss';

.work-slide {
    background-color: $bright-blue-color;
    min-height: 135%;

    .stripe {
        background-color: #C9EFFF;
    }

    .work-body {
        position: relative;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .work-container {
            width: 100%;
            padding-left: 15%;
            padding-right: 15%;
            margin-bottom: 50px;

            .featured-work {
                position: relative;
                background-color: $accent-color;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 15%;
            }

            .work-one,
            .work-two {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 50px;
            }

            .work-one {
                background-color: $grey-color;
            }

            .work-two {
                background-color: $dark-blue-color;
            }

            .date-stamp {
                color: $off-white-color;
                background-color: $dark-blue-color;
                font-family: 'Oxygen', sans-serif;
                font-size: 20px; 
                align-self: flex-end;

                &.contrast {
                    color: $dark-blue-color;
                    background-color: $off-white-color;
                }
            }

            .work-title {
                position: relative;
                font-size: 50px;
                color: $off-white-color;
                padding-top: 50px;
            }

            .work-subtitle {
               font-size: 20px;
               color: $off-white-color;
               opacity: 0.8; 
            }

            hr {
                position: relative;
                border: 2px solid $off-white-color;
                width: 20%;
                margin: 50px 0;
                transition: 0.3s;

                &.hover {
                    width: 40%;
                    border: 2px dashed $off-white-color;
                    transition: 0.3s;
                }
            }

            .subsection {
                padding: 5px;
                font-size: 25px;
                font-family: 'Oxygen', sans-serif;
                color: $off-white-color;

                &.pink {
                    background-color: #F2C0AC;
                }
            }

            .list {
                font-size: 20px;
                font-family: 'Oxygen', sans-serif;
                color: $off-white-color;
            }

            .work-info {
                position: relative;
                font-size: 20px;
                font-family: 'Oxygen', sans-serif;
                color: $off-white-color;
                flex-grow: 1;

                .emphasize-text {
                    color: $dark-blue-color;
                    font-size: 23px;
                    font-weight: bolder;

                    &.contrast {
                        color: $bright-blue-color;
                    }
                }
            }
        }
    }
}