@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900&display=swap');

$dark-blue-color: #1E3B44;
$bright-blue-color: #6DD3FF;
$accent-color: #E88D67;
$grey-color: #CCE2E5;
$off-white-color: #F7FFFE;

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0px 0px!important;
    width: 100%;
}

.wrapper {
    min-height: 535%;
}

.arrow-container {
    position: relative;
    display: flex;
    justify-content: center;
    animation: arrow-animation 1.5s infinite ease-in-out;

    &:hover {
        cursor: pointer;
    }

    @keyframes arrow-animation {
        0% {
            transform: translateY(-15px);
            opacity: 1;
        }
        50% {
            transform: translateY(0px);
            opacity: 0.5;
        }
        100% {
            transform: translateY(-15px);
            opacity: 1;
        }
    }

}

.stripe {
    position: relative;
    height: 100px;
    width: calc(100% - 20px);
    top: 20px;
    left: 20px;
}

.title {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    color: $off-white-color;
    top: -1px;
    left: 14px;
}

.read-more-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    &.spin {
        animation: readMore-spin 0.5s ease-in;
    }

    @keyframes readMore-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }
}

.menu-bar {

    .menu-container {
        opacity: 1;
        transition: 0.5s linear;

        &:hover {
            cursor: pointer;
        }

        &.clicked {
            opacity: 0.5;
            transition: 0.5s linear;
        }
    }
}

.overlay-menu {
    position: fixed;
    z-index: 1;
    background-color: $accent-color;
    opacity: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition: 0.5s 0.6s ease-in;

    &.open {
        transition: 0.5s ease-in;
    }

    .overlay-name {
        position: relative;
        width: 100%;
        font-family: 'Rozha', serif;
        font-size: 70px;
        color: $off-white-color;
        margin: 0px;
        opacity: 0;
        transition: 0.6s ease-in;

        @media (max-width: 440px) {
            font-size: 50px;
        }

        &.open {
            opacity: 1;
            transition: 0.5s 0.6s ease-in;
        }
    }

    hr {
        position: relative;
        border: 2px solid $off-white-color;
        width: 20%;
        opacity: 0;
        transition: 0.4s ease-in;

        &.open {
            opacity: 1;
            transition: 0.5s 0.8s ease-in;
        }
    }

    h2 {
        font-family: 'Oxygen', sans-serif;
        color: $off-white-color;
        font-size: 30px;
        opacity: 0;
        transition: 0.2s ease-in;

        &:hover {
            cursor: pointer;
            font-style: italic;
        }

        &.open {
            opacity: 1;
            transition: opacity 0.5s 1s ease-in;
        }
    }

    @media(max-width: 767px) {
        width: 0;
        height: 100%;
        margin-top: 90px;

        &.open {
            width: 100%; 
        }
    }

    @media (min-width: 768px) {
        width: 100%;
        height: 0;
        margin-left: 90px;
        padding-right: 15%;
        padding-left: calc(15% - 90px);

        &.open {
            height: 100%;
        }
    }
}

.slide-one {
    background-color: $dark-blue-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    .text-container {
        color: $off-white-color;
        flex-grow: 1;
        padding: 20% 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3 {
            letter-spacing: 3px;
            font-size: 20px;
            margin-bottom: 15px;
            font-family: 'Oxygen', sans-serif;

            @keyframes dot-animation {
                0% {
                    opacity: 0.2;
                }
                100% {
                    opacity: 1;
                }
            }

            .dot-one,
            .dot-two,
            .dot-three {
                font-size: 25px;
                animation: dot-animation 1s infinite both;
            }
            .dot-two {
                animation-delay: 0.2s;
            }
            .dot-three {
                animation-delay: 0.4s;
            }
        }

        h2 {
            letter-spacing: 3px;
            font-size: 25px;
        }

        .ampersand {
            font-family: 'Rozha One', serif;
            font-size: 40px;
        }
    }
    
}

.slide-two {
    background-color: $accent-color;
    min-height: 200%;

    .stripe {
        background-color: #F2C0AC;
    }

    .slide-two-body {
        position: relative;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .project-container {
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 50px;

            .featured-project {
                position: relative;
                background-color: $dark-blue-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 15%;

            }

            .project-title {
                position: relative;
                color: $off-white-color;
                font-size: 50px;
                padding-top: 50px;
            }

            hr {
                position: relative;
                border: 2px solid $off-white-color;
                width: 20%;
                margin: 50px 0;
            }

            .project-info {
                position: relative;
                font-size: 20px;
                font-family: 'Oxygen', sans-serif;
                color: $off-white-color;
            }

            .project-one,
            .project-two,
            .project-three,
            .project-four {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 0 50px;
            }

            .project-one {
                background-color: $grey-color;
            }

            .project-two {
                background-color: $bright-blue-color;
            }

            .project-three {
                background-color: $dark-blue-color;
            }

            .project-four {
                background-color: #F2C0AC;
            }
        }
    }
}

.slide-three {
    background-color: $bright-blue-color;
    min-height: 135%;

    .stripe {
        background-color: #C9EFFF;
    }

    .slide-three-body {
        position: relative;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .work-container {
            position: relative;
            margin-left: 15%;
            margin-right: 15%;
            margin-bottom: 50px;

            .featured-work {
                background-color: $accent-color;
                width: 100%;
                height: 500px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 15%;
            }

            .work-one {
                background-color: $grey-color;
                height: 500px;
                width: 100%;
            }

            .work-two {
                background-color: $dark-blue-color;
                height: 500px;
                width: 100%;
            }
        }
    }
}

.slide-four {
    background-color: $grey-color;
    min-height: 100vh;

    .contact-box-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            color: $bright-blue-color;
            left: -25%;
            top: 70px;
            z-index: 2;
        }

        .contact-box {
            background-color: #ECF4F5;
            margin: 0 15%;
    
            .left-side {
                background-color: $dark-blue-color;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: flex-start;
                padding: 50px 50px;
                color: $off-white-color;

                .email-text {
                    font-size: 60px;
                }

                hr {
                    position: relative;
                    border: 2px solid $off-white-color;
                    width: 50%;
                    margin: 50px 0;
                }

                .description {
                    font-size: 20px;
                    font-family: 'Oxygen', sans-serif; 
                    margin-bottom: 50px!important;
                }
                
            }
        }
    }
}