@import './Styles/shared.scss', './Styles/Overlay.scss', './Styles/Home.scss', './Styles/Projects.scss', './Styles/ProjectPage.scss', './Styles/Skills.scss', './Styles/Work.scss', './Styles/Contact.scss';

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-user-select: -moz-none;
    user-select: none;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0px 0px!important;
    width: 100%;
}

.wrapper {
    min-height: 635%;
}

a,
a:hover {
    text-decoration: none!important;
}

.arrow-container {
    position: relative;
    display: flex;
    justify-content: center;
    animation: arrow-animation 1.5s infinite ease-in-out;

    &:hover {
        cursor: pointer;
    }

    @keyframes arrow-animation {
        0% {
            transform: translateY(-15px);
            opacity: 1;
        }
        50% {
            transform: translateY(0px);
            opacity: 0.5;
        }
        100% {
            transform: translateY(-15px);
            opacity: 1;
        }
    }

}

.stripe {
    position: relative;
    height: 100px;
    width: calc(100% - 20px);
    top: 20px;
    left: 20px;

    @media (max-width: 768px) {
        height: 65px;
    }

    @media (max-width: 575px) {
        height: 45px;
    }
}

.title {
    position: relative;
    font-family: 'Playfair Display', serif;
    font-size: 120px;
    color: $off-white-color;
    top: -1px;
    left: 14px;

    @media (max-width: 768px) {
        font-size: 85px;
    }

    @media (max-width: 575px) { 
        font-size: 60px;
    }
}

.read-more-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
    }

    &.spin {
        animation: readMore-spin 0.5s ease-in;
    }

    @keyframes readMore-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg);
        }
    }
}